.cards {
  padding: 10rem;
  background:black;
}
/*
background: rgb(0, 0, 0);
*/

h1 {
  text-align: center;
}

/*  karty wieksze, 1 karta na 1 ekran*/
.cards__container {
  display: inline;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 80%;
  margin: 0 auto;
}

/* edycja jednej karty */
.cards__item {
  display: flex;
  border-radius: 10px;
  margin-bottom: 5%;
}

/* usunety box-shadow i shadow */
/* na mozliwe przyszle potrzeby zostawiam w komentarzu pod */
.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 86%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
/*
box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  
*/

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
